#column1{
  width: 40%;
  padding: 0 5%;
    float: left;
  }
#column2{
  float: left;
  width: 40%;
}
.gradient {
   border-radius: 10px;
   margin: 0% auto;
   height: 15%;
   background: linear-gradient(to bottom, #CCC 30%, #999 70%);
   opacity: 35%;
} 

blockquote{
   float: center;
   width: 275px;
   margin: 0 0 10px 10px;
}   

body{
  background:#FFFFCC url("Images/bgimage.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}   

#container {
  width: 900px;
  border: 40px solid #000000;
  border-radius: 55px;
  margin: 0 auto;
    overflow: auto;
}

ul {
  list-style: inside circle;
  border: 2px dotted #000000;
  padding: 15px;
  }

a:link {
  color: #006699;
  text-decoration: none;
  }
a:visited {
    color: #000000;
    }
a:hover {
  color: #9966FF;
  text-decoration: underline;
  } 

img { 
    border: 2px;
    width: 100%;
    border-color: #000000;
    }

h1{
  color: #006699;
  text-align: center;
  text-shadow: 1.2px 1.2px #000000;
}

p{
  text-align: left;
  font-family: georgia;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  text-indent: 0px;
}

h2{
  color: #006699;
  text-align: left;
  text-shadow: 1.2px 1.2px #000000; 
}

@font-face {
  font-family: "Nunito";
  src:url('../fonts/nunito.ttf')format('truetype');
}
ul{
   text-align: left;
   font: 18px "Nunito", Arial, helvetica, geneva, sans-serif;
}

.image:hover {
   display:inline-block;
   border:2px solid #9966FF;
}
.image {
   display:inline-block;
   width:100%;
   border:2px solid #000000;
}






